@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-sans bg-background text-text-primary antialiased selection:bg-primary/30 selection:text-primary;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-400 transition-colors;
  }
}

html {
  scroll-behavior: smooth;
}

/* keyframes for shine */
@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(25deg);
  }

  100% {
    transform: translateX(200%) rotate(25deg);
  }
}

/* Animated thin line traveling across the button */
.animate-cross-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  /* start outside left */
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent 0%,
      rgba(255, 255, 255, 0.6) 48%,
      rgba(255, 255, 255, 0.9) 20%,
      rgba(255, 255, 255, 0.6) 52%,
      transparent 100%);
  transform: skewX(-20deg);
  /* keeps it angled */
  animation: slide-line 2s linear infinite;
}

@keyframes slide-line {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}